{% extends 'padre_admin.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <a class="btn btn-primary" href="#" role="button">Users</a>

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Administrador
        </a>
        <ul class="dropdown-menu">
        <li><a href="{% url 'List' %}">Proximos examenes</a></li>

    <h1>Bienvenido/a a Full Sailing </h1>
    <p>AQUÍ PODRÁ ACCEDER A TODA LA INFORMACIÓN DEL CENTRO NAUTICO</p>
    <div class="text-center">
        <img height="40px" src="{{url}}">
        <h3>Que bueno volver a encontrarnos {{user.username}}!</h3>
    </div>
    {% if Examenes %}
        <p>Estoy buscando la fecha: {{fecha_examen}}</p>
        <ul>
            {% for alu in Examenes %}
                <li> {{alu.profe_examinador}}</li>
                <li> {{alu.fecha_examen}}</li>
            {% endfor %}     
        </ul>
    {% else %}
        <p> Por el momento, no hay examenes registrados</p>
        
    {% endif %}

    <p style="color: red;">{{respuesta}}</p>
{% endblock %}

