<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ProyectoFullSailing - AppFullSailing</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppFullSailing/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!"><Bienvenido>
                <a href=""></a></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'ControlFecha_examen' %}">Fecha examen</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Alumnos' %}">Alumnos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Profesores' %}">Profesor</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Examen' %}">Reservar examen</a></li>
                        <p class="text-muted small mb-4 mb-lg-0"> Hola, {{user.username}}!</p>
                        <li class="nav-item"><a class="nav-link" href="{% url 'EditarPerfil' %}">Editar Perfil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Iniciar Sesion</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}">Registro</a></li>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://th.bing.com/th/id/OIP.wzId6vPw4qU9tDCjazjPKwHaHa?pid=ImgDet&rs=1" alt="" />
                <h1 class="text-white fs-3 fw-bolder">Full Sailing</h1>
                <p class="text-white-50 mb-0">NAVEGAR ESTÁ EN TUS MANOS</p>
            </div>
        </header>

        <!--Esto es lo que cambia-->
        {% block contenidoQueCambia %}
           
        {% endblock %}

        
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/570987/pexels-photo-570987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
