{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <h1>Bienvenido/a a Full Sailing - Centro Nautico</h1>
    <p>Aquí podrá acceder a toda la informacion del centro</p>
    
    {% if Examenes %}
        <p>Estoy buscando la fecha: {{fecha_examen}}</p>
        <ul>
            {% for alu in Examenes %}
                <li> {{alu.profe_examinador}}</li>
                <li> {{alu.fecha_examen}}</li>
            {% endfor %}     
        </ul>
    {% else %}
        <p> -No hay examenes en esa fecha</p>
        
    {% endif %}

    <p style="color: red;">{{respuesta}}</p>
{% endblock %}


